<!doctype html>
<html lang="en">

<head>
    <title>The Quote Stream - Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
        crossorigin="anonymous">
    <style>
        textarea {
            resize: none;
        }

        img {
            width: 30px;
        }
    </style>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar text-light bg-dark py-3">
            <div class="col">
                <a href="/dashboard" style="text-decoration:none" class="text-light">
                    <h4>Quotes Dashboard</h4>
                </a>
            </div>
            <div class="col-md-2">
                <h6>Welcome, 
                    <a href="/account" class="text-warning">{{ user.first_name }}</a>
                </h6>
            </div>
            <div class="col-md-2">
                <a href="/logout">
                    <button type="button" class="btn btn-outline-danger">Logout</button>
                </a>
            </div>
        </nav>
    </header>

    <main class="mt-5">
        <div class="container">
            <div class="row">
                <!-- Left column - quotes -->
                <div class="col text-center">
                    <h4 class="text-info mb-4">All Quotes</h4>
                    <div class="col-md-1"></div>
                    <div class="col text-left">
                        {% if quotes %}
                            {% for quote in quotes %}
                                <div class="container border shadow mb-4 p-2">
                                    <p><b>{{ quote.author }}</b>: "{{ quote.content }}"</p>
                                    <p>Posted by 
                                        <a href="/user/{{ quote.user.id }}/">{{ quote.user.first_name }} 
                                            {{ quote.user.last_name }}</a>
                                    </p>
                                    <div class="container text-right mb-3">
                                        <span>{{ likes.0 }} people like this</span>
                                        {% if like.0 == False %}
                                            <a href="/likeQuote/{{ quote.id }}" class="ml-3">
                                                <button class="btn btn-primary">Like</button>
                                            </a>
                                        {% else %}
                                            <a href="/unlikeQuote/{{ quote.id }}" class="ml-3">
                                                <button class="btn btn-primary">UnLike</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% if quote.user.id == user.id %}
                                        <a href="/deleteQuote/{{ quote.id }}/">
                                            <img src="https://image.flaticon.com/icons/svg/63/63260.svg" 
                                                alt="delete-icon">
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-center pt-5">
                                <h5 class="text-danger"><em>We're in desperate need of quotes,
                                    please add one...
                                </em></h5>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
    
                <!-- Right column - add new quote -->
                <div class="col text-center">
                    <h4 class="mb-4">Add a Quote</h4>
                    <div class="col-md-1"></div>
                    <div class="col text-left">
                        <form action="/addQuote/" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="Quoter"><h6>Quoter:</h6></label>
                              <input type="text" name="author" id="author" class="form-control" 
                                placeholder="Quoter's name">
                            </div>
                            <div class="mt-0">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'author' %}
                                            <p class="text-danger"><em>{{ message }}</em></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="content"><h6>Quote:</h6></label>
                                <textarea name="content" class="form-control" id="content" rows="10"
                                    placeholder="Quote content"></textarea>
                                    <small class="form-text text-muted">
                                        Just the quote, without quotations.
                                    </small>
                            </div>
                            <div class="mt-0">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'content' %}
                                            <p class="text-danger"><em>{{ message }}</em></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-success shadow">Add</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>                
            </div>
        </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" 
        crossorigin="anonymous"></script>
</body>

</html>